<link rel="stylesheet" href="/css/home_page_user.css" />
<script src="/client/homePage.js"></script>
{{#if toastMessage}}
<div id="toastmessage">
  <p>{{toastMessage}}</p>
</div>
{{/if}}

<div id="container">
  <div id="header">
    <div id="leftTopBar">
      <div id="logo">
        <img id="muse" src="/images/logopng-after-trim.png" alt="logo" />
      </div>
      <div id="MUSE">MUSE</div>
    </div>
    <div id="rightTopBar">
      
      {{#if hasUnreadNotifications}}
      <div id="bell" class="rightTop">
        <img class="rightTop" src="/images/notification-red.png" alt="Noticfication" title="Noticfication" />
        <div id="unReadComment">{{unreadNotificationsCount.count}}</div>
      </div>
      {{else}}
      <div id="bell" class="rightTop">
        <img class="rightTop" src="/images/notification-pink.png" alt="Noticfication" title="Noticfication" />
      </div>
      {{/if}}
      <div class="rightTopText" id="navNotification">Notification</div>

      <div class="rightTop">
        <img src="/images/{{user.Avatar}}" class="rightTop" alt="user icon" title="user icon" />
      </div>
      <div class="rightTopText" id="navUserClick">My profile</div>
      <div class="rightTop">
        <img class="rightTop" src="/images/article-line.png" alt="create article" title="create new article" />
      </div>
      <div class="rightTopText" id="navCreateArticle">create new article</div>
      <div class="rightTop">
        <img src="/images/logout-box.png" class="rightTop" alt="log out" title="log out" />
      </div>
      <div class="rightTopText" id="navSignOut">Sign out</div>

    </div>
  </div>


  <div id="icon-container">
    <div id="notificationTop">Notification</div>
    <div class="UnreadNotification"><strong>Unread notification:
        {{unreadNotificationsCount.count}}</strong>
    </div>
    <div id="notificationBottom">
      {{#each notifications}}
   
      <div class="notifications" id="notifications{{this.Notification_ID}}">
        <div class="firstLine">
          <div class="contentLine">{{this.Content}}</div>
          {{#unless this.Is_Read}}
          <div class="red-dot"></div>
          {{/unless}}
        </div>
    
        <div class="senderInformation">{{this.Timestamp}}</div>
      </div>

      {{/each}}
      <div id="notificationMore">More</div>
    </div>
  </div>

  <div id="articleColumn">
    <div id="sortAndArticle">
      <div id="sortBar">
        <div id="leftSortBar">
          <h1>Articles</h1>
        </div>
        <div id="rightSortBar">
          <div>
            <label for="sortOptions" id="sortLabel"></label> Sort by:
          </div>
          <div>
            <select id="sortOptions" name="sortOptions">
              <option value="publishTime" {{publishTimeSelect}}>publish time</option>
              <option value="authorName" {{authorNameSelect}}>author name</option>
              <option value="articleTitle" {{articleTitleSelect}}>article title</option>
            </select>
          </div>
        

        </div>
      </div>

      <div id="articleDisplayBar">
        {{#each fifteenArticles}}
        <div class="articles" id="{{this.Article_ID}}">
          <div class="displayTitle" id="title{{this.Article_ID}}">
            {{this.Title}}
          </div>
          <div class="partDiscription" id="description{{this.Article_ID}}">
            {{{this.Content}}}
          </div>
          <div class="thridLine">
            <div class="likesAndComments">
              <div class="like">
                <div class="likeImage">
                  <img id="like{{this.Article_ID}}" class="likeImageUser" src="/images/{{this.like}}" alt="like" title="like" />
                </div>
                <div class="likeNumber">{{this.Likes_Count}}</div>
              </div>
              <div class="comment">
                <div class="commentImage">
                  <img id="comment{{this.Article_ID}}" class="comments" src="/images/comment.png" alt="comment"
                    title="comment" />
                </div>
                <div class="commentNumber">{{this.commentNumber}}</div>
              </div>
            </div>

            <div class="authorInformation">
              <div class="userClick" id="user{{this.User_ID}}">
                <div class="authorLine"><img class="userImage" src="/images/{{this.userInformation.Avatar}}"
                    class="avatar"></div>
                <div class="authorLine" id="{{this.userInformation.Username}}">{{this.userInformation.Username}}</div>
              </div>
              <div class="authorLine">{{this.Date}}</div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <div id="pagesBar">
      <!-- need to get article from datebase, give one example of displayed pages here-->
      <div id="left" class="page">&lt;</div>
        <!-- pages here is all pages with no duplications -->
      {{#each pages}}
      <div class="pages" id="page{{this}}">{{this}}</div>
      {{/each}}
      <div class="page" id="right">&gt;</div>
    </div>
  </div>

  <div id="previousArticles">
    <div id="titleAndList">
      <div id="previousArticlesTitle">Previous articles</div>
      {{#if fourArticles}}
        {{#each fourArticles}}
        <div class="previousArticlesList">
          <div class="previousDisplayTitle" id="previousTitle{{this.Article_ID}}">
            {{this.Title}}
          </div>
          <div class="secondLine">
            <div class="avatarAndUsername">
              <div class="previousUserAvatar">
                <img src="/images/{{this.user.Avatar}}" class="avatar">
              </div>
              <div class="previousUserUsername">{{this.user.Username}}</div>
            </div>
            <div class="previousDate">{{this.Date}}</div>
          </div>
          <div class="previousPartDiscription" id="previousDescription{{this.Article_ID}}">
            {{{this.Content}}}
          </div>
        </div>
        {{/each}}
      {{else}}
      <div id="noPreviousArticles">You haven't created any articles yet.</div>
      {{/if}}
    </div>

    <div id="moreContainer">More</div>
  </div>
</div>